@import url("../../font.css");
.counterBox {
  border-bottom: 1px solid #dee0e3;
  padding: 16px 0;
  font-family: 'Spoqa Han Sans Neo';
}
.buttonBox {
  display: flex;
  border: 1px solid #dee0e3;
  width: 104px;
  height: auto;
}
.minusButton {
  cursor: pointer;
  border: none;
  width: 34px;
  height: 34px;
  background: url("../../assetes/decrement.png") no-repeat center;
  background-size: contain;
}
.count {
  display: inline-block;
  text-align: center;
  background-color: white;
  width: 36px;
  height: 34px;
  line-height: 30px;
}
.plusButton {
  cursor: pointer;
  border: none;
  width: 34px;
  height: 34px;
  background: url("../../assetes/increment.png") no-repeat center;
  background-size: contain;
}